<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Edit User</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="username">Enter Username: </label>
    <input type="text" th:field="*{username}" id="username"/>

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="email">Enter e-mail: </label>
    <input type="email" th:field="*{email}" id="email"/>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label>Roles:
        <input type="checkbox" th:field="*{roles}" name="allRoles"
               th:each="role : ${allRoles}"
               th:text="${role.getRole()}"
               th:value="${role.getId()}"
        />
    </label>
    <br>

    <input type="submit" value="Update!"/>
</form>

<br>
<br>
<a th:href="@{/logout}">Logout</a>

</body>
</html>