<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>New User</title>
</head>
<body>
<h3>New User</h3>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username">Enter Username: </label>
    <input type="text" th:field="*{username}" id="username"/>

    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="email">Enter e-mail: </label>
    <input type="email" th:field="*{email}" id="email"/>

    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label>Roles:
        <input type="checkbox" name="allRoles"
               th:each="role : ${allRoles}"
               th:text="${role.getRole()}"
               th:value="${role.getRole()}"
        />
    </label>

    <input type="submit" value="Create!"/>
    </form>
</body>
</html>